<h1><%= @article.title %></h1>
<div>
<p>Tamaño: <%= @article.tamano %></p>
</div>
<div>
    <%= @article.body %> -  <% if @article.user_id == current_user.id%>
    <%= link_to "Editar", edit_article_path(@article), class:"btn be-red"%>
    <%end%>
</div>
